// Override bootstrap via /components
// Uncomment unused

// Core variables and mixins
@import 'bootstrap/variables'
@import 'bootstrap/mixins'

// Reset and dependencies
@import 'bootstrap/normalize'
@import 'bootstrap/print'
@import 'components/glyphicons'

// Core CSS
@import 'components/scaffolding'
@import 'bootstrap/utilities'
@import 'components/type'
@import 'bootstrap/code'
@import 'bootstrap/grid'
@import 'bootstrap/tables'
@import 'bootstrap/forms'
@import 'components/buttons'

// Components
@import 'bootstrap/component-animations'
@import 'bootstrap/dropdowns'
@import 'components/button-groups'
@import 'bootstrap/input-groups'
@import 'components/navs'
@import 'components/navbar'
@import 'components/breadcrumbs'
@import 'bootstrap/pagination'
@import 'bootstrap/pager'
@import 'components/labels'
@import 'components/badges'
// @import 'bootstrap/jumbotron'
@import 'bootstrap/thumbnails'
@import 'components/alerts'
@import 'bootstrap/progress-bars'
@import 'bootstrap/media'
@import 'bootstrap/list-group'
@import 'components/panels'
@import 'bootstrap/responsive-embed'
@import 'components/wells'
@import 'bootstrap/close'

// Components w/ JavaScript
@import 'bootstrap/modals'
@import 'bootstrap/tooltip'
@import 'bootstrap/popovers'
// @import 'bootstrap/carousel'

// Utility classes
@import 'bootstrap/responsive-utilities'
@import 'utilities/backgrounds'
@import 'utilities/heights'
@import 'utilities/margins'
@import 'utilities/paddings'

// Form
$state-danger-bg = #FFF0F0
$input-border-focus = #BBB

// Layouts
@import 'layout/mobile-navigation'
@import 'layout/content'
@import 'layout/breadcrumb'
@import 'layout/footer'

// Custom components
@import 'components/isotope'
@import 'components/power-select'
@import 'components/loader'
