{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": ["inline-dotenv", "git-version"]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": ["transform-inline-environment-variables", "git-version"]
    },
    "test": {
      "presets": [[ "next/babel", { "preset-env": { "modules": "commonjs" } }]],
      "plugins": ["inline-dotenv", "git-version"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "components": "./components",
        "routes": "./routes.js",
        "lib": "./lib"
      }
    }]
  ]
}
