# Configuration file for BanManager
settings.php

# Cache
cache/*
!cache/.gitkeep

# Test dump
.dump_*.sql*

# Node and Bower
node_modules
bower_components
.sass-cache

# SASS files
assets/css/jquery.mCustomScrollbar.scss
assets/css/bootstrap-datetimepicker.scss
assets/css/tablesorter-theme.bootstrap.scss
assets/css/visualize.scss
assets/css/visualize-light.scss

# Meta files
.DS_Store
