# Configuration file for BanManager
settings.php

# Cache
cache/*
!cache/.gitkeep

# Test dump
.dump_*.sql*

# build specific
.sass-cache
bower_components
node_modules
coverage
.coveralls.yml
npm-debug.log

# SASS files
assets/css/libs/bootstrap-datetimepicker.scss
assets/css/libs/tablesorter-theme.bootstrap.scss
assets/css/libs/visualize.scss
assets/css/libs/visualize-light.scss

# Meta files
.DS_Store
.dashbrew

# Netbeans
/nbproject
