$icon-font-path = '/assets/fonts/'

@import 'bootstrap/glyphicons'

.glyphicon-heart.glyphicon--text
  font-size 75px
  position relative

  .glyphicon-heart--text
    color #fff
    font-size 33px
    position absolute
    top 11px
    width 100%
    text-indent 6px

.glyphicon-certificate.glyphicon--text
  font-size 75px
  position relative

  .glyphicon-certificate--text
    color #fff
    font-size 33px
    position absolute
    top 14px
    width 100%
