.isotope
  transition-duration 0.8s
  transition-property height, width

  .item
    -webkit-transition-property -webkit-transform, opacity
    -moz-transition-property -moz-transform, opacity
    -ms-transition-property -ms-transform, opacity
    -o-transition-property top, left, opacity
    transition-property transform, opacity
