$panel-default-heading-bg = transparent
$panel-danger-heading-bg = transparent

.panel-group-heading
  text-align center

@import 'bootstrap/panels'

.panel
  box-shadow 0px 1px 3px 1px #E0E0E0
.panel-title
  font-family Oxygen, sans-serif
