#footer
  background-color #293b47
  color #ccc
  min-height 94px
  width 100%
  position absolute
  bottom -5px
  z-index 15

  .social-icons
    @media (min-width: $screen-lg-min)
      top 0
      position absolute

    @media (max-width: $screen-sm-max)
      margin-top -45px

  .copyright li
    @media (max-width: $screen-sm-max)
      display block

  ul
    padding-left 0
    line-height 80px

  .server-icon
    height 64px
    width 64px

    @media (max-width: $screen-sm-max)
      margin-bottom -45px
