/*
 *  BanManagement © 2015, a web interface for the Bukkit plugin BanManager
 *  by James Mortemore of http://www.frostcast.net
 *  is licenced under a Creative Commons
 *  Attribution-NonCommercial-ShareAlike 2.0 UK: England & Wales.
 *  Permissions beyond the scope of this licence
 *  may be available at http://creativecommons.org/licenses/by-nc-sa/2.0/uk/.
 *  Additional licence terms at https://raw.githubusercontent.com/BanManagement/BanManager-WebUI/master/LICENSE
 */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

button .navbar-btn  a {
  text-decoration: none;
  color: #fff;
}

.server-option {
  float: none !important;
}

.panel-jumbotron .panel-body .pastbans {
  font-size: 12px;
  font-weight: bold;

  .badge {
    color: #ED381C;
    background: none;
  }
}

#ajaxLoading {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;

  .small {
    display: inline-block;
    margin: 0;
    vertical-align: text-top;
  }
}

.latestban {
  position: relative;

  button {
    position: absolute;
    right: 4px;
    top: 4px;
  }
}

#servers td {
  vertical-align: middle;
}

td.admin-options {
  text-align: center;
}

#search {
  position: relative;
}

.scratch {
    display:none;
}

#copyright_image{
  width: 100px;
  height: 25px;
  margin-top: -6px;
}

#excludepast{
  padding: 5px;
}

.form-control.fixedWidth {
    width: 100%;
}

@media screen and (min-width: 768px) {
  .form-control.fixedWidth {
    width: 550px;
  }
}

.player_information {
  background: #eee;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  height: 300px;
}

@media screen and (min-width: 1200px) {
  .player_information {
    position: fixed;
    width: 260px;
  }
}

#player_name {
  font-weight: 700;
  text-align: center;
  display: inherit;
}

.skin {
  &-helm {
    width: 20px;
    display: inline-block;
  }

  &-complete {
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.search {
  margin-bottom: 5px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs>li>a {
  border: none;
  border-radius: 4px;
}

/*
 * Checked list group
 * (http://bootsnipp.com/snippets/featured/checked-list-group)
 */

.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

/* Tablesorter input styles */

input.tablesorter-filter {
  display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

  // [converter] extracted textarea& to textarea.form-control
}

/* Update checker */

.updatecheck {
  display: none;
}
