/*
 *  BanManagement © 2015, a web interface for the Bukkit plugin BanManager
 *  by James Mortemore of http://www.frostcast.net
 *  is licenced under a Creative Commons
 *  Attribution-NonCommercial-ShareAlike 2.0 UK: England & Wales.
 *  Permissions beyond the scope of this licence
 *  may be available at http://creativecommons.org/licenses/by-nc-sa/2.0/uk/.
 *  Additional licence terms at https://raw.githubusercontent.com/BanManagement/BanManager-WebUI/master/LICENSE
 */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

button .navbar-btn  a {
  text-decoration: none;
  color: #fff;
}

.server-option {
  float: none !important;
}

.panel-jumbotron .panel-body .pastbans {
  font-size: 12px;
  font-weight: bold;

  .badge {
    color: #ED381C;
    background: none;
  }
}

#ajaxLoading {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;

  .small {
    display: inline-block;
    margin: 0;
    vertical-align: text-top;
  }
}

.latestban {
  position: relative;

  button {
    position: absolute;
    right: 4px;
    top: 4px;
  }
}

#servers td {
  vertical-align: middle;
}

td.admin-options {
  text-align: center;
}

#search {
  position: relative;
}

.scratch {
    display:none;
}

#copyright_image{
  width: 100px;
  height: 25px;
  margin-top: -6px;
}

#excludepast{
  padding: 5px;
}

.form-control.fixedWidth {
    width: 100%;
}

@media screen and (min-width: 768px) {
  .form-control.fixedWidth {
    width: 550px;
  }
}

.player_information {
  background: #eee;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  height: 300px;
}

#player_name {
  font-weight: 700;
  text-align: center;
  display: inherit;
}

.skin {
  &-helm {
    width: 20px;
    display: inline-block;
  }

  &-complete {
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.search {
  margin-bottom: 5px;
}

.nav-tabs {
  border-bottom: none;
}
