[Unit]
Description=Web based interface for BanManager
Documentation=https://banmanagement.com/docs
After=network.target

[Service]
Type=simple
WorkingDirectory=${dir}
User=${user}
ExecStartPre=${npmPath} run build
ExecStart=${nodePath} server.js
Restart=always
TimeoutSec=900

[Install]
WantedBy=multi-user.target
