/*!
 * https://github.com/NateRadebaugh/react-datetime
 */
.rdtPicker {
  @apply z-40 w-72 text-sm bg-black shadow px-4 py-2 rounded;
  min-width: 250px;
}

.rdtPicker:not(.rdtStatic) {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.rdtPicker .rdtTimeToggle {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 30px;
}

.rdtPicker td {
  @apply cursor-pointer;
}

.rdtPicker .rdtCounter .rdtBtn,
.rdtPicker .rdtYear,
.rdtPicker .rdtMonth,
.rdtPicker .rdtDay,
.rdtPicker .rdtHour,
.rdtPicker .rdtMinute,
.rdtPicker .rdtSecond,
.rdtPicker .rdtTimeToggle {
  @apply text-white;
}

.rdtPicker .rdtCounter .rdtBtn:hover,
.rdtPicker .rdtYear:hover,
.rdtPicker .rdtMonth:hover,
.rdtPicker .rdtDay:hover,
.rdtPicker .rdtHour:hover,
.rdtPicker .rdtMinute:hover,
.rdtPicker .rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  @apply bg-accent-600 rounded cursor-pointer text-white;
}

.rdtPicker .rdtOld,
.rdtPicker .rdtNew {
  @apply text-gray-500;
}

.rdtPicker .rdtToday {
  position: relative;
}

.rdtPicker .rdtToday:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid theme('colors.accent.500');
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.rdtPicker th {
  @apply border-b border-accent-200;
}

.rdtPicker .dow {
  @apply text-gray-400 font-medium text-center text-xs border-b-0;
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}

.rdtPicker .rdtPrev,
.rdtPicker .rdtSwitch,
.rdtPicker .rdtNext {
  @apply text-white py-1;
}

.rdtPicker .rdtNext,
.rdtPicker .rdtPrev {
  width: 36px;
  font-size: 1.25rem;
  vertical-align: top;
}

.rdtPicker .rdtCounter .rdtBtn {
  display: block;
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover,
.rdtPicker .rdtDisabled,
.rdtPicker .rdtDisabled:hover {
  @apply cursor-not-allowed opacity-60 hover:bg-transparent;
}

.rdtPicker thead tr:first-child th {
  cursor: pointer;
}

.rdtPicker thead tr:first-child th:hover {
  @apply bg-accent-600;
}

.rdtPicker tfoot tr {
  @apply py-2;
}

.rdtPicker .rdtTimeToggle {
  @apply border-t border-accent-200 py-2;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}

.rdtPicker button:hover {
  @apply bg-accent-600;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

.rdtPicker .rdtDays {
  min-width: 250px;
}

.rdtPicker .rdtMonth,
.rdtPicker .rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}

.rdtPicker .rdtMonth:hover,
.rdtPicker .rdtYear:hover {
  @apply bg-accent-600 text-white;
}

.rdtPicker .rdtActive {
  @apply bg-accent-600 rounded cursor-pointer text-white;
}

.rdtPicker .rdtActive:hover {
  @apply bg-accent-700;
}

.rdtPicker .rdtActive .rdtToday:before {
  border-bottom-color: #fff;
}

.rdtPicker .rdtDays {
  display: inline-block;
}

.rdtPicker .rdtCounters {
  display: inline-block;
}

.rdtPicker .rdtCounters>div {
  float: left;
}

.rdtPicker .rdtCounter {
  width: 40px;
}

.rdtPicker .rdtCounter .rdtBtn {
  line-height: 40px;
  cursor: pointer;
}

.rdtPicker .rdtCounter .rdtBtn:hover {
  @apply bg-accent-600;
}

.rdtPicker .rdtCounter .rdtCount {
  @apply text-white;
  line-height: 20px;
  font-size: 1.25rem;
}

.rdtPicker .rdtCounterSeparator {
  line-height: 100px;
}

.rdtPicker .rdtTime td {
  cursor: default;
}
